@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-slate-900 antialiased;
  }
}

/* Custom transitions if needed */
.step-transition {
  transition: all 0.3s ease-in-out;
}
